# ------------------------------------------------------------------------------
# This is an example .env file.
#
# All of these environment vars must be defined either in your environment or in
# a local .env file in order to run this app.
#
# @see https://github.com/rolodato/dotenv-safe for more details.
# ------------------------------------------------------------------------------

# Optional (for fathom analytics)
#NEXT_PUBLIC_FATHOM_ID=

# Optional (for PostHog analytics)
#NEXT_PUBLIC_POSTHOG_ID=

# Notion page overrides (IDs without hyphens)
#NOTION_PAGE_PRESSKIT=297d755ae048810298e5c327291fb443
#NOTION_PAGE_CHANGELOG=297d755ae04880029786fc961c90f1f6
#NOTION_PAGE_PRESS_METHODS=297d755ae048805596a6fcabf798bc81
#NOTION_PAGE_PRESS_POLICY=297d755ae0488080b963fb8f57096ea4
#NOTION_PAGE_PRESS_FAQ=297d755ae048803ebf68f613e62bac9b
#NOTION_PAGE_SCHOLAR_BUNDLE=297d755ae0488048bf23c5ac0f7c6039

# Optional (for rendering tweets more efficiently)
#TWITTER_ACCESS_TOKEN=

# Optional (for persisting preview images to redis)
# NOTE: if you want to enable redis, only REDIS_HOST and REDIS_PASSWORD are required
# NOTE: don't forget to set isRedisEnabled to true in the site.config.ts file
#REDIS_HOST=
#REDIS_PASSWORD=
#REDIS_USER='default'
#REDIS_NAMESPACE='preview-images'
